body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60%;
    background-color: transparent;
    color: #ed5808;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}
#new{
  padding: 1rem;
    text-align: center;
    border: 2px solid #ed5808;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
    font-size: medium;   
}
#new:hover{
    color: #ed5808;
}
h2{
    font-size: 40px;
}


#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px
}
book-dialog{
    padding: 2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}
dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);
}
#book-form{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
}
.book-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
}
#book-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.book-card{
    background: rgb(254, 255, 240);
    border: 2px solid #2563eb;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    width: 250px;
    text-align: left;
}